.header {
    padding: 0px;
    text-align: center;
    background: rgb(255, 98, 0);
    color: blue;
    font-size: 25px;
    border: 25px;
    border-color: blue;
}

.header nav ul li {
    list-style: none;
}

#About-me p {
    color: black;
}

#Work p {
    color: black;
}

#Contact-me li {
    color: black;
}

.header-section {
    display: flex;
    justify-content: center;
    /* background: #008000; */
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: pink; */
    width: 50%;
}

body {
    background-color: gray;
    color: blue;
}